[submodule "evm/lib/forge-std"]
	path = evm/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/common"]
	path = evm/lib/common
	url = git@github.com:m0-foundation/common.git
[submodule "evm/lib/wormhole-solidity-sdk"]
	path = evm/lib/wormhole-solidity-sdk
	url = git@github.com:wormhole-foundation/wormhole-solidity-sdk.git
